QWidget{
    background:#f8fafc;
    color:#0f172a;
    font-family:'Segoe UI';
    font-size:10pt;
}

#Sidebar{
    background:#0f172a;
}

#SidebarLogo{
    color:white;
    font-size:20pt;
    font-weight:700;
    padding:20px;
}

QPushButton{
    background:#2563eb;
    color:white;
    border:none;
    border-radius:12px;
    padding:10px;
    font-weight:600;
}

QPushButton:hover{
    background:#1d4ed8;
}

#StatCard{
    background:white;
    border:1px solid #e2e8f0;
    border-radius:20px;
}

#CardIcon{
    font-size:22pt;
}

#CardTitle{
    font-size:11pt;
}

#CardValue{
    font-size:22pt;
    font-weight:bold;
}

#DashboardTitle{
    font-size:24pt;
    font-weight:700;
}

QTableWidget{
    background:white;
    border-radius:15px;
    border:1px solid #e2e8f0;
}

QHeaderView::section{
    background:#2563eb;
    color:white;
    padding:8px;
    border:none;
}

#AICard{
    background:#ecfeff;
    border-radius:20px;
    border:2px solid #06b6d4;
}

QLineEdit,
QComboBox,
QDateEdit{
    padding:8px;
    border:1px solid #cbd5e1;
    border-radius:10px;
}